<div class="container">
<h1>My movie lists</h1>
  <div class="cards my-4">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>)">
        <%= list.name %>
        <%= link_to '', list_path(list), class: 'card-link' %> 
        <%= link_to list_path(list), data: { turbo_method: :delete, turbo_confirm: "Delete #{list.name}?" }, class: 'card-delete-link' do %>
          <i class="fa-solid fa-x"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
